.views_multiblock_title {
	font-family: Georgia, Times New Roman, Serif;
	font-size: 1.4em;
	margin: 0px;
	padding: 0px;
}
#main .content .views_multiblock_title a {
	text-decoration: none;
	font-weight: normal;
}
.views_multiblock_created,
.views_multiblock_changed {
	font-size: 0.75em;
	color: #444;
}

.views_multiblock_teaser p ,
.views_multiblock_body p {
	margin-top: 0;
	margin-bottom: 1em;
}

.views_multiblock_separator {
  clear: both;
	border: 0;
	border-top: 1px dotted #bbb;
}
.views_multiblock_last_update {
  font-size: 0.9em;
  color: red;
}
.views_multiblock_field_image_fid  {
  position: relative;
  float: left;
  margin-right: 5px;
  clear: left;
}

